<!DOCTYPE html>
<html>

<head>
  <title>
    ReSpoted
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= productDescription %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />
  <link rel="stylesheet" href="https://unpkg.com/@egjs/flicking/dist/flicking.css" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://unpkg.com/@egjs/flicking/dist/flicking-inline.css" crossorigin="anonymous" />
  <script src="https://unpkg.com/@egjs/flicking/dist/flicking.pkgd.min.js" crossorigin="anonymous"></script>
  <script src="./promptEvent.js"></script>
  <link rel="icon" type="image/png" sizes="128x128" href="icons/Spotify_Icon_RGB_Black.ico" />
  <link rel="icon" type="image/png" sizes="96x96" href="icons/Spotify_Icon_RGB_Black.ico" />
  <link rel="icon" type="image/png" sizes="32x32" href="icons/Spotify_Icon_RGB_Black.ico" />
  <link rel="icon" type="image/png" sizes="16x16" href="icons/Spotify_Icon_RGB_Black.ico" />
  <link rel="icon" type="image/ico" href="icons/Spotify_Icon_RGB_Black.ico" />
</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>